@{
    Layout = "_Layout -anasayfa";
}
<html>
<body>
<section id="mainSlider" class="slider">

    <div id="mainCaption" class="caption">


        <h1>İSVİÇRE'Yİ KEŞFETMEYE VAR MISINIZ?</h1>

        <p><br>İsviçre'nin barındırdığı muhteşem güzellikler ve turlarımız</p>
    </div>
</section>



<section id="features" class="sectionArea">
    <div class="featuresTop">
        <h2 class="sectionHeader">İsviçre'de nerelere gidiyoruz?</h2>
    </div>
    <div class="featuresBody">
        <div class="container">
            <div class="col3">
                <div class="item">
                    <div class="zoom">
                        <img src="/images/matterhorn1.jpg">
                    </div>
                    <div class="itemText">
                        <h3>Matterhorn</h3>
                        <p>
                            Matterhorn, Alpler'in en yüksek dağlarından biridir. Bu efsanevi tepe 4.478 metreye çıkar
                            ve dört dik yüzü pusula noktaları yönünde uzanır. Kış aylarında, kayakçılar 300
                            kilometreden fazla yamaçtan binebilir.
                        </p>
                        <a href="matterhorn.html" class="btnDetails">Göster</a>
                    </div>
                </div>
            </div>








            <div class="col3 ">
                <div class="item">
                    <div class="zoom">
                            <img src="/images/chateau.jpg">
                    </div>
                    <div class="itemText">
                        <h3>Chateau</h3>
                        <p>
                            Cenevre Gölü kıyısında, Montrö yakınlarındaki, Chateau de Chillon (Chillon Kalesi)
                            yüzyıllardır sanatçılara ve yazarlara ilham vermiştir. Lord Byron, Jean Jacques Rousseau
                            ve Victor Hugo, bu mimari hazine hakkında yazmış olan armatürler arasındadır.
                        </p>
                        <a href="chateau.html" class="btnDetails">Göster</a>
                    </div>
                </div>
            </div>






            <div class="col3">
                <div class="item">
                    <div class="zoom">
                        <img src="/images/interlaken.jpg">
                    </div>
                    <div class="itemText">
                        <h3>Interlaken</h3>
                        <p>
                            Batıda Thun Gölü ile doğuda Brienz Gölü arasında yer alan Interlaken, İsviçre'nin en
                            popüler yaz tatil beldelerinden biridir. Şehir merkezinde, Höhematte, 35 dönümlük açık
                            alana sahip bir şehir planlaması harikasıdır
                        </p>
                        <a href="interlaken.html" class="btnDetails">Göster</a>
                    </div>
                </div>
            </div>


            <div class="col3">
                <div class="item">
                    <div class="zoom">
                            <img src="/images/jungfraujoch.jpg">
                    </div>
                    <div class="itemText">
                        <h3>Jungfraujoch</h3>
                        <p>
                            Güzel Bernese Oberland'da yapılacak en popüler şeylerden biri, 3.454 metreye tünemiş bir
                            gözlem terası ve bilimsel gözlemevi olan Jungfraujoch'a, "Avrupa'nın Zirvesi" tren
                            yolculuğu. Avrupa'nın en uzun buzulu olan Great Aletsch Buzulu, Jungfraujoch'ta başlar
                        </p>
                        <a href="jungfraujoch.html" class="btnDetails">Göster</a>
                    </div>
                </div>
            </div>




            <div class="col3">
                <div class="item">
                    <div class="zoom">
                            <img src="/images/bern.jpg">
                    </div>
                    <div class="itemText">
                        <h3>Bern</h3>
                        <p>
                            Aare Nehri'nin bir yarımadasında yer alan çarpıcı bir konumda, İsviçre'nin Bern başkenti
                            eski dünya cazibesini gözler önüne seriyor ve şehrin ortaçağ eski şehri bir UNESCO Dünya
                            Mirası Alanı.
                        </p>
                        <a href="bern.html" class="btnDetails">Göster</a>


                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="item">
                    <div class="zoom">
                        <img src="/images/StMoritz.jpg">
                    </div>
                    <div class="itemText">
                        <h3>St. Mortiz</h3>
                        <p>
                            Aynaya benzeyen göller, buzullar, pürüzlü tepeler, dağ ormanları ve güneş ışığı veren
                            yerler St. Moritz'i dünyanın en iyi dağ destinasyonlarından biri .
                        </p>
                        <a href="StMoritz.html" class="btnDetails">Göster</a>
                    </div>
                </div>
            </div>




        </div>
    </div>



</section>



<
<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
            <img src="/images/gezi5.jpg" style="width:70%">
        <div class="text">17.05.2019</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
            <img src="/images/gezi4.jpg" style="width:70%">
        <div class="text">11.06.2019</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
            <img src="/images/gezi10.jpg" style="width:70%">
        <div class="text">21.06.2019</div>
    </div>

</div>
<br>
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    
    </div>
   <div class="row">
       <br />
   </div>
<script>
    var slideIndex = 0;
    showSlides();
    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000);
    }
</script>
</body>

</html>